{% extends 'app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'applicompte/css/applicompte-forgetpassword.css' %}">
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block main %}
<div class="container">
    <form method="POST" class="animate-on-scroll">
        {% csrf_token %}
        <h1 class="form-title">Réinitialiser le mot de passe</h1>
        <p class="form-description">Entrez votre adresse email pour recevoir un lien de réinitialisation de mot de passe.</p>
        <label for="email">Votre adresse email :</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Envoyer le lien</button>
        <div class="form-links">
            <a href="{% url 'applicompte:login' %}">Retour à la connexion</a>
        </div>
    </form>
</div>
{% endblock %}
