{% extends 'app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'applicompte/css/applicompte-login.css' %}">
{% endblock %}

{% block title %} Connexion {% endblock %}
{% block main %}
<div class="container">
    <form method="post" class="animate-on-scroll">
        {% csrf_token %}
        <h1 class="form-title">Connexion</h1>
        
        <label for="username">Email</label>
        <input type="email" name="username" id="username" required>
        
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
        
        <button type="submit">Se connecter</button>
        
        <div class="form-links">
            <a href="{% url 'applicompte:register' %}">Créer un compte</a>
            <a href="{% url 'applicompte:forgetpassword' %}">Mot de passe oublié ?</a>
        </div>
    </form>
</div>
{% endblock %}
