{% extends 'app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app-add_ticket.css' %}">

{% endblock %}

{% block title %} Connexion {% endblock %}
{% block main %}
<div class="container mt-5">
    <h1>Ajouter un Ticket</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <a href="{% url 'app:ticket_list' %}" class="btn btn-secondary">Retour</a>
    </form>
</div>
{% endblock %}
