
{% extends "app/base.html" %} {% block title %} Ajouter un type de ticket {% endblock %}
{% block main %}
{%load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app-add_type_ticket.css' %}">

{% endblock %}

<div class="container mt-5">
    <h1>Ajouter un Type de Ticket</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <a href="{% url 'app:list_type_ticket' %}" class="btn btn-secondary">Retour</a>
    </form>
</div>


{% endblock %}
