<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:home' %}">Festival Automobile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- Accueil -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:home' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'applicompte:search_users_page' %}">Recherche</a>
                </li>
                {% if user.is_authenticated and user.is_staff %}

                <!-- Galerie -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="galleryDropdown" role="button">
                        Galerie
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="galleryDropdown">
                        <li><a class="dropdown-item" href="{% url 'app:gallery' %}">Voir la Galerie</a></li>
                        <li><a class="dropdown-item" href="{% url 'app:add_photo' %}">Ajouter une Photo</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:gallery' %}">Galerie {{user.userprofile.type_user}}</a>
                </li>
                {% endif %}


                <!-- Tickets -->
                {% if user.is_authenticated and user.is_staff  %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ticketDropdown" role="button">
                        Tickets
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="ticketDropdown">
                        <li><a class="dropdown-item" href="{% url 'app:mytickets' %}">Mes Tickets</a></li>
                        <li><a class="dropdown-item" href="{% url 'app:add_ticket' %}">Ajouter un Ticket</a></li>
                        <li><a class="dropdown-item" href="{% url 'app:ticket_list' %}">Liste des Tickets</a></li>
                        <li><a class="dropdown-item" href="{% url 'app:add_type_ticket' %}">Ajouter un Type de Ticket</a></li>
                        <li><a class="dropdown-item" href="{% url 'app:list_type_ticket' %}">Liste des Types de Tickets</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:mytickets' %}">Tickets</a>
                </li>

                {% endif %}
                


                <!-- Réservation -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:reservation' %}">Réservation</a>
                </li>
                {% endif %}

                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'applicompte:manage_users' %}">Admin</a>
                </li>
                {% endif %}

                <!-- Profil et Connexion -->
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button">
                        Mon Compte
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="{% url 'applicompte:user_profile' request.user.username %}">Mon profil</a></li>
                        <li><a class="dropdown-item" href="{% url 'applicompte:profile' %}">Mon Compte</a></li>
                        <li><a class="dropdown-item" href="{% url 'applicompte:edit_profile' %}">Modifier le compte</a></li>
                        <li><a class="dropdown-item" href="{% url 'applicompte:logout' %}">Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'applicompte:login' %}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'applicompte:register' %}">Inscription</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
