{% extends "app/base.html" %}
{% block title %}Accueil - Festival Automobile{% endblock %}
{%load static%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1>Détails du Ticket</h1>
    <p><strong>ID :</strong> {{ ticket.id }}</p>
    <p><strong>Nom :</strong> {{ ticket.name }}</p>
    <p><strong>Prénom :</strong> {{ ticket.prenom }}</p>
    <p><strong>Type de Ticket :</strong> {{ ticket.type_ticket.nom_type }}</p>
    <p><strong>Date de Création :</strong> {{ ticket.date_creation|date:"d/m/Y H:i" }}</p>
    <p>
        <strong>Statut :</strong>
        {% if ticket.status == "0" %}
            Utilisable
        {% else %}
            non utilisable
        {% endif %}
    </p> 

    <p>Ajouter à <a href="https://api.skyhosting.fr/sherwheels?qrcode={{ ticket.qr_code }}&firstname={{ ticket.name }}&lastname={{ ticket.prenom }}&immatriculation={{ ticket.user.userprofile.imatriculation }}" target="_blank">
     Apple Walet    </a>
    </p>
       
    <p><strong>Lien QR Code :</strong> {{ ticket.qr_code }}</p>
    
    <!-- Affiche le QR Code -->
    <div class="mt-3">
        <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code">
    </div>
</div>
{% endblock %}
